"  cd ~/Library/Application\ Support/Jetbrains  "
"  find * -name "keymaps" "
"  less PhpStorm2023.1/keymaps/macOS\ copy.xml" <-- Example

let mapleader=" "

""" Plugins -----
set surround
set argtextobj
set highlightedyank
set matchit
set commentary
" ------------------------- Plugin settings -------------------------
" let g:argtextobj_pairs="[:],(:),<:>"
let g:highlightedyank_highlight_duration = 200
let g:highlightedyank_highlight_in_visual = 0

" Mappings ----------
nmap <leader>w <Action>(Annotate)
nmap <leader>r <Action>(GotoNextError)
nmap <leader>e <Action>(GotoPreviousError)
nmap <leader>x <Action>(FileStructurePopup)
nmap <leader>cf <Action>(CopyContentRootPath)

" <leader>t in normal and visualmode for surround with function"
vmap <leader>t <Action>(SurroundWith)
nmap <leader>t <Action>(SurroundWith)

nmap <leader>m <Action>(ToggleBookmark)
nmap <leader>b <Action>(ShowBookmarks)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

" ------------------------- Harpoon -------------------------
nmap <C-j> <Action>(GotoHarpoon1)
nmap <C-k> <Action>(GotoHarpoon2)
nmap <C-l> <Action>(GotoHarpoon3)
nmap <C-æ> <Action>(GotoHarpoon4)

"
nmap <leader>s <Action>(ShowHarpoon)
nmap <leader>a <Action>(AddToHarpoon)

" directory mapping"
nmap <leader>ds <Action>(SelectInProjectView)
nmap <leader>fd <Action>(SelectInProjectView)


" debugger
nmap <leader>dt <Action>(ToggleLineBreakpoint)

" LSP ------------"
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(QuickImplementations)
nmap gI <Action>(GotoImplementation)

" undersøg keymaps for:
" Og de andre..
" https://rishabhrd.github.io/jekyll/update/2020/09/19/nvim_lsp_config.html
" https://youtrack.jetbrains.com/issue/VIM-2264

"lines to scroll using CTRL+d and CTRL+u"
set scr=20

set incsearch
set nohls
set number
set tabstop=4 softtabstop=4
set shiftwidth=4
set expandtab
set autoindent
set ignorecase
set smartindent
set relativenumber
set noerrorbells
set nowrap
set showmode
set scrolloff=8
set mouse=
syntax on

"       normalmode mappings
nnoremap J mzJ`z
nnoremap N Nzzzv
nnoremap n nzzzv
nnoremap <silent> <leader>ca :%y+<CR>:%y<CR>
"       visualmode mappings
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
vnoremap p "_dP


" this makes it so that you don't have to use leader + y to yank to clipboard.
set clipboard+=unnamedplus
" nnoremap <leader>y "*y
" vnoremap <leader>y "*y
" nnoremap <leader>Y "*Y
